@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol/Bariol_Regular.otf);
}
body{
    margin: 0px;
    background-color: #fbfeff;
}
h1{
    font-family: Bariol!important;
    color: #ce3f71!important;
}

h3{
    font-family: Bariol!important;
    text-transform: uppercase;
    color: #ce3f71!important;
}

button{
    border-radius: 20px!important;
}

.content{
    padding: 10%;
}

.customButton{
    border-radius: 20px!important;
}
@media(max-width: 780px){
    .content{
        padding: 5%;
    }
    .cardLat {
        display: none;
    }
}


.showDiv{
    display: block;
}

.hideDiv{
    display: none;
}

.textField{
    width: 100%;
}

.formControl {
width: 100%;
}
.btNext {
    background: linear-gradient(45deg, #de6690 30%, #ce3f71 90%);
    border-radius: 20px;
    border: 0px;
    color: white!important;
    padding: 0 30px;
    width: 100%;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    margin-top: 30px!important;
}
.label {
text-transform: capitalize;
}
