@font-face {
    font-family: Bariol;
    src: url(../fonts/bariol/Bariol_Regular.otf);
}
body{
    margin: 0px;
    background-color: #fbfeff;
}
h1{
    font-family: Bariol!important;
    color: #ce3f71!important;
}

h3{
    font-family: Bariol!important;
    text-transform: uppercase;
    color: #ce3f71!important;
}

button{
    border-radius: 20px!important;
}

.content{
    padding: 10%;
}

.customButton{
    border-radius: 20px!important;
}
@media(max-width: 780px){
    .content{
        padding: 5%;
    }
    .cardLat {
        display: none;
    }
  }
